<nb-layout>
	<nb-layout-header fixed>
		Nicholas Calabro
	</nb-layout-header>

	<nb-layout-column>
		<nb-card>
			<nb-card-header>About Me</nb-card-header>
			<nb-card-body>
				<p>
				Software Engineer
				</p>
				<p>
				Pursuing B.S. in Computer Science
				</p>
				<p>
				University of Massachusetts at Amherst
				</p>
				<p>
				Expected 2022
				</p>
			</nb-card-body>
		</nb-card>
	</nb-layout-column>
	<nb-layout-column>
		<nb-card>
			<nb-card-header>About Me</nb-card-header>
			<nb-card-body>
				<img id="picture_of_me" src="../../assets/picture_of_me.jpg" alt="Italian Trulli">
			</nb-card-body>
		</nb-card>

	</nb-layout-column>

</nb-layout>
