
<nb-layout>

	<nb-layout-header fixed>
		<a style="text-decoration:none"href="/home">Nicholas J. Calabro</a>
	</nb-layout-header>

	<nb-layout-column>

		<nb-card>
			<nb-card-header>About Me</nb-card-header>
			<nb-card-body>
				<p>
				Aspiring Software Engineer
				</p>
				<p>
				Pursuing Bachelors of Science in Computer Science, Expected 2022
				</p>
				<p>
				University of Massachusetts at Amherst
				</p>
				<p>
				<a style="text-decoration:none;text-align:right;"href="https://www.github.com/ncalabro18">Github Profile</a>
				</p>
			</nb-card-body>
		</nb-card>

		<nb-card>
			<nb-card-header>Tech Intrests</nb-card-header>
			<nb-card-body>
				<p>
				Web Systems
				</p>
				<p>
				Virtual Machines and Containerization
				</p>
				<p>
				Programming Language Design and Implementation
				</p>
			</nb-card-body>
		</nb-card>

		<nb-card>
			<nb-card-header>Outside Intrests</nb-card-header>
			<nb-card-body>
				<p>
				Weight Training
				</p>
				<p>
				Calisthenics
				</p>
				<p>
				Climbing
				</p>
				<p>
				Music
				</p>
			</nb-card-body>
		</nb-card>

	</nb-layout-column>

	<nb-layout-column>
				<img style="display:block;margin-left:auto;margin-right:auto;" id="picture_of_me" src="../../assets/picture_of_me.jpg" alt="Italian Trulli">
	</nb-layout-column>

</nb-layout>

